@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");

.form-group:first-child {
  top: 30% !important;
  left: 40% !important;
}

.form-group:nth-child(2) {
  top: 45% !important;
  left: 40% !important;
}
