@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
body {
  color: #cd5f51 !important;
  /* color: #eb4b4b;/ */
}

/* #intro-form {
  top: 15%;
  left: 35%;
  border-radius: 20px;
  background: #303030 !important;
  z-index: 200 !important;
  height: 60vh;
  width: 30vw;
  opacity: 0.5;
} */

#form1 {
  height: 100vh;
  width: 30vw;
  /* background: aqua; */
}

#heroText {
  margin-top: 2rem;
}
